	<a id="clog_user_posts_link" href="javascript:;">{{translate 'author_posts'}} {{creatorDisplayName}}</a>
	<div id="post_{{id}}" style="width:100%"></div>
    <a href="javascript:;" onClick="clog.switchState('post',{'postId':clog.currentPosts[clog.utils.getPostListNumber('{{id}}','left')].id});" title="{{translate 'previous_post'}}"><img src="/library/image/silk/arrow_left-grey.png" width="28" height="28" alt="{{translate 'previous_post_alt_text'}}"/></a>
    <a href="javascript:;" onClick="clog.switchState('post',{'postId':clog.currentPosts[clog.utils.getPostListNumber('{{id}}','right')].id});" title="{{translate 'next_post'}}"><img src="/library/image/silk/arrow_right-grey.png" width="28" height="28" alt="{{translate 'next_post_alt_text'}}"/></a>
